---

import SiteHeader from "@/components/SiteHeader.astro";
import SiteNav from "@/components/SiteNav.astro";
import SiteFooter from "@/components/SiteFooter.astro";

import BaseLayout from "@/layouts/BaseLayout.astro";

const title = "Mi página web sobre Astro";
const description = "Una larga y detallada descripción de mi página.";

---
<style is:global> 

/* el atributo is:global agrega estilo global, 
usar este atributo solo cuando sea necesario*/

	h2 {
		color: #f02626;
		font-size: 2rem;
		margin-bottom: 1rem;
	}

</style>

<!-- En BaseLayout esta todo nuestro head de html, actua como un componente mas -->
<BaseLayout title={title} description={description}>

	<SiteHeader />
	<SiteNav />

	<h2>{title}</h2>

	<main>
		<p>{description}</p>
	</main>
	
	<SiteFooter />

</BaseLayout>